body{
  display : grid;
  grid-template-areas:
  "header header header"
  "nav article article"
  "footer footer footer" ;
  grid-template-rows : 60px 1fr 30px ;
  grid-template-columns :20% 1fr ;
  grid-gap : 10px ;
  margin : 20px ;
  font-family: monospace;
}
header {
  background-color: #c0c0c0;
  border: 2px black solid;
}
h1 {
  margin :0 ;
  padding:5px ;
  text-align:center;
}
nav {
  background-color: #dcdcdc;
}
ul {
  display: block ;
  padding:0 ;
  margin: 0 ;
  border:1px solid white ;
}
a {
  font-size: 20px ;
  font-family: monospace ;
  text-align: center ;
  justify-content: center;
  text-decoration: none;
  color: inherit ;
}

article {
  background-color: white;
  min-height: 80vh;
  font-size: 15px;
}
footer {
  background-color: #a9a9a9 ;
}
#pageHeader {
  grid-area : header ;
  text-align: center ;
}
#pageFooter {
  grid-area : footer ;
  font-size: x-small;
  color: white;
}
#mainArticle {
  grid-area : article ;
}
#mainNav {
  grid-area : nav ;
}
